body{
    color: white;
    background-color: rgba(24, 24, 24, 0.911);
    padding: 0;
    margin: 0;
}

#Header{
    color: rgb(90, 46, 152);
    width: 100%;
    padding: 3% 3% 3% 5%;
    margin-bottom: 5%;
    background: rgb(14, 14, 14);

    font: 3em sans-serif;
}


/*#Footer{
    color: rgb(90, 46, 152);
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0%;
    background: rgb(14, 14, 14);
}*/

#Searchbar{
    color: white;
    margin-left: 20%;
    margin-right: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1%;
    font-size: large;
    font-weight: bold;
    background-color: rgba(34, 34, 34, 0.911);
    height: 60px;
    width: 500px;
    border-style: none;
    border-radius: 25px 0 0 25px;
}

#SearchButton{
    color: white;
    margin-left: 0;
    height: 60px;
    width: 80px;
    background-color: rgb(90, 46, 152);
    border-style: none;
    border-radius: 0 25px 25px 0;
    font-weight: bold;


}

#SearchButton:hover{
    background-color: rgb(79, 43, 129);
    cursor: pointer;
}

#OrderLink{
    color: rgba(255, 255, 255, 0.747);
    text-decoration: none;
    font: 0.5em sans-serif;
    font-weight: bold;

    margin-left: 15%;
}

#OrderLink:hover{
    color:white;
    border-bottom-style: solid;
    border-bottom-color: rgb(90, 46, 152);
    font-size: 60%;
}